html,body {
  background-color:blue ;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  height:100%
}
#map{
  height:50vh;
  width:100%;
}
#app{

}
#root{
  height:100%
}
#pac-input {
  /* background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 20vw;
  height:20vh; */
}

#pac-input:focus {
  /* border-color: #4d90fe; */
}